# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# production
/.terraform
.terraform
terraform.tfstate.backup
terraform.tfstate

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# key
mykey
mykey.pub